@font-face {
    font-family: 'Open Sans Condensed Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
        url(http://allfont.ru/cache/fonts/open-sans-condensed-bold_05d15f93d25ad0053993ac19504b6332.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/open-sans-condensed-bold_05d15f93d25ad0053993ac19504b6332.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSansSemibold-Regular'),
        url(http://allfont.ru/cache/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSansLight-Regular'),
        url(http://allfont.ru/cache/fonts/open-sans-light_289c7e8e7dc5f4e0b91733fdb56d5560.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/open-sans-light_289c7e8e7dc5f4e0b91733fdb56d5560.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url(http://allfont.ru/cache/fonts/open-sans-italic_619479f347f22df1ceafab870b54ec88.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/open-sans-italic_619479f347f22df1ceafab870b54ec88.ttf) format('truetype');
}



body {
    background:  #ffffff;
    margin: 0px;
    text-transform: uppercase;
}
.header .cloud span,
.advice .bordered,
.callback .container-phone,
.footer {
    text-transform: none;
}
.container {
    width: 960px;
    margin: 0 auto;
    /* box-sizing: border-box; */
}
p, figure {
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}



.dashed {
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><line x1='0%' y1='88%' x2='100%' y2='88%' style='fill: none; stroke: black; stroke-width: 3; stroke-dasharray: 16.7 11'/></svg>");
    font-size: 48px;
}
.dashed-small {
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><line x1='0%' y1='89%' x2='100%' y2='89%' style='fill: none; stroke: black; stroke-width: 1; stroke-dasharray: 7 5.5'/></svg>");
    vertical-align: top;
    line-height: 39px;
    letter-spacing: 0px;
}






.header {
    background: url('img/header_bg.png') no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 20px;
    padding-bottom: 58px;
}
.header .wrapper {
    /* padding-top:20px; */
    /* padding-bottom: 58px; */
}

.header form span {
    position: absolute;
    color: #bb1d1f;
    font-family: 'Open Sans Semibold',sans-serif;
    font-size: 37px;
    top: -4px;
    left: 6px;
}

.header input[type="text"],
.header input[type="tel"] {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 36px;
    padding-left: 34px;
    padding-bottom: 3px;
    letter-spacing: -0.3px;
    padding-right: 43px;
}

.header input[type="text"] {
    margin-bottom: 34px;
}

.header input[type="tel"] {
    margin-bottom: 41px;
}


.header form {
    position:relative;
}

.header form span:last-of-type {
    top: 76px;
}

.header input::-webkit-input-placeholder {color: black;}
.header input:-moz-placeholder {color: black;}

.header input[type="submit"] {
    color: white;
    background: #bb1d1f;
    border: none;
    border-radius: 5px;
    padding: 7px 24px;
    padding-left: 26px;
    box-shadow: 3px 3px 5px 0 black;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 24px;
    letter-spacing: -0.3px;
    display: block;
}


input[type="submit"]:hover {
    cursor: pointer;
}

.header .logo_cloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 39px;
}

.header .logo_cloud > span{
        margin-right: 32px;
        max-width: 428px;
        max-height: 87px;
}

.header .logo {
    /* margin-right: 32px; */
    /* width: 428px; */
    /* height: 87px; */
    display: block;
}

.header .cloud {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    position: relative;
    font-family: 'Open Sans Condensed Bold', sans-serif;
    font-size: 36px;
    padding-top: 9px;
    padding-bottom: 17px;
    padding-left: 10px;
    text-align: right;
    padding-right: 15px;
    white-space: pre-line;
}

.header .cloud p {
    padding: 0px;
    padding-right: 3px;
}

.header .cloud mark {
    line-height: 37px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 1.9px;
    vertical-align: top;
}

.header .cloud a {
    white-space: nowrap;
    padding-right: 3px;
    line-height: 54px;
}


.header .cloud::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: -15px;
    width: 0px;
    height: 0px;
    border: 15px solid rgba(255,255,255,0.8);
    border-left-width: 0px;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.header mark {
    color: #bb1d1f;
    background: none;
    font-family: 'Open Sans Semibold',sans-serif;
}


.header .white_text {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 36px;
    white-space: pre-line;
    font-kerning: none;
    margin-bottom: 40px;
}

.header .white_text .white {
    padding-left: 16px;
    background-color: white;
    letter-spacing: -0.3px;
    /* margin-bottom:0px; */
    display: inline-block;
    margin-bottom: 11px;
}

.header .white_text .white:nth-child(1) {
    padding-right: 38px;
    /* margin-right:  auto; */
    /* margin-bottom: 40px; */
    /* display:  inline-block; */
}
.header .white_text .white:nth-child(2) {
    padding-right: 35px;
}
.header .white_text .white:nth-child(3) {
    padding-right: 30px;
}




.work {
    padding-top: 42px;
    padding-bottom: 39px;
}

.work h2 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 60px;
    font-kerning: none;
    letter-spacing: -0.5px;
}
.work .wrapper {
    /* padding-top: 41px; */
    /* padding-bottom: 40px; */
}
.work .work_item {
    margin-bottom: 30px;
    margin-right: 36px;
    font-kerning: none;
    letter-spacing: -0.2px;
    white-space: nowrap;
    width: 300px;
    display: inline-block;
}
.work .work_item span {
    margin-right: 8px;
    display: inline-block;
}

.work .work_item:nth-child(3n) {
    width: 280px;
    margin-right: 0px;
}
.work .work_item img {
    border-radius: 50%;
    vertical-align: middle;
    width: 139px;
    height: 139px;
}
.work .work_item figcaption {
    vertical-align: middle;
    white-space: normal;
    display:  inline-block;
    font-family: 'Open Sans Semibold', sans-serif;
    line-height: 19px;
    width: 150px;
}
.work .work_item mark {
    color: #bb1d1f;
    background: none;
}




.advantages {
    background-color: #f7f7f7;
    padding-top: 52px;
    padding-bottom: 39px;
}
.advantages h2 {
    letter-spacing: -0.5px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 66px;
}
.advantages ul {
    padding-left: 75px;
}
.advantages li {
    padding-left: 25px;
    margin-bottom: 39px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 24px;
    font-kerning: none;
    letter-spacing: -0.6px;
    list-style-image: url('img/chbx.png');
}
.advantages .wrapper {
    padding-top: 52px;
    padding-bottom: 39px;
}







.advice .bordered {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 28px;
    font-weight:normal;
    line-height:33px;
    font-kerning: none;
    
}

.advice h4 {
    padding-left: 156px;
    margin-top: 0;
    margin-bottom: 29px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 28px;
    font-weight:normal;
    line-height:33px;
    font-kerning: none;
    letter-spacing: -0.3px;
}
.advice hr {
    width: 110px;
    border-color: black;
    border-bottom-width: 2px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 371px;
}

.advice .bordered {
    border: 3px solid #ff9c00;
    border-radius: 10px;
    /* text-align: center; */
    padding-top: 19px;
    /* padding-left: 50px; */
    padding-right: 50px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    width: 784px;
    margin: 0 auto;
}

.advice .bordered > i {
    font-family: 'Open Sans Italic', sans-serif;
    font-size: 18px;
    padding: 0px;
    padding-right: 42px;
    padding-left: 93px;
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
}
.advice .bordered p:first-of-type {
    padding: 0;
    padding-left: 93px;
    padding-right: 42px;
    margin-bottom: 18px;
    text-align: center;
}
.advice .bordered p:last-of-type {
    padding: 0 0px;
    padding-left: 50px;
    text-align: center;
}
.advice .bordered::before {
    content: "!";
    font-size: 200px;
    position: absolute;
    top: -137px;
    left: 12px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 260px;
    line-height: 208px;
}
.advice {
    padding-top: 104px;
    padding-bottom: 95px;
    /* padding-left: 61px; */
    /* padding-right: 60px; */
}

.advice span {
    font-kerning: none;
}

.advice .ghost {
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    /* margin-bottom: 18px; */
}




.callback {
    background-color: #bb1d1f;
    padding-top: 29px;
    padding-bottom: 43px;
}
.callback .container-phone {
    display:  block;
    margin-bottom: 35px;
    text-align: center;
    color: white;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 24px;
    font-kerning: none;
    letter-spacing: -0.3px;
}
.callback input[type="text"],
.callback input[type="tel"] {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 18px;
    font-kerning: none;
    border: none;
    letter-spacing: -0.3px;
}
.callback input[type="text"] {
    height: 34px;
    width: 329px;
    margin-right: 19px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.callback input[type="tel"] {
    height: 34px;
    width: 326px;
    padding-left: 14px;
    padding-bottom: 5px;
    margin-right: 19px;
}
.callback input[type="submit"] {
    width: 240px;
    height: 40px;
    padding: 0px;
    padding-left: 9px;
    vertical-align: top;
    color: #ffffff;
    background: transparent;
    border: 2px solid white;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 20px;
    letter-spacing: -0.2px;
}







.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 52px;
}
.footer .logo-a {
    font-family: 'Open Sans Condensed Bold', sans-serif;
    font-size: 22px;
    line-height: 17px;
    letter-spacing: -0.5px;
    /* display: inline-block; */
}
.footer .logo-a .logo-pic {
    margin-right: 16px;
    width: 205px;
    height: 42px;
}
.footer .logo-b {
    color: #9b9b9b;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    padding-top: 11px;
    /* float: right; */
}
.footer .logo-b p {
    position: relative;
    top: -9px;
    left: 1px;
}
.footer .logo-b .logo-pic {
    height: 29px;
    width: 190px;    
}
